*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: black;
}

.flex {
    display: flex;
}

body {
    display: flex;
    justify-content: center;
}


/* .wrapper {
    width: 1440px;
}

.section {
    width: 1440px;
} */



.header {
    /* width: 1440px; */
    height: 100px;
    align-items: center;
}

.header-div {
    flex-direction: row;
    /* width: 1286px; */
    width: 1440px;
    height: 41px;
    align-items: center;
    justify-content: space-around;
}

.logo {
    flex-direction: row;
    justify-content: space-around;
    width: 185px;
    font-size: 34px;
    font-weight: 700;
    /* font-family: 'Montserrat, sans-serif'; */
    /* margin-left: -100px; */
}

.logo-img {
    width: 50px;
    height: 32px;
    margin-top: 1px;
}

.header-nav {
    flex-direction: row;
    width: 430px;
    justify-content: space-between; /* no free space around */
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

.header-nav-item {
    text-decoration: none;
}

.page-tools {
    flex-direction: row;
    width: 247px;
    align-items: center;
    justify-content: space-around;
}

.tools-item,
.tools-img {
    width: 28px;
    height: 28px;
}


.banner-section {
    /* width: auto; */
    width: 100%;
    background-image: url('../img/banner-background.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-size: 100% 100%; */
    background-size: cover;
    background-position: 100%;
    height: 316px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.banner-section-title {
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 13px;
}

.home-b {
    font-weight: 600;
}

.banner-sec-nav {
    font-size: 16px;
}





.filter-section {
    background-color: #F9F1E7;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.filters-results {
    flex-direction: row;
    align-items: center;
    width: 451px;
    height: 37px;

    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
}

.filter {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.filter-img {
    width: 25px;
    height: 25px;
}

.filter-text,
.sorting-text {
    font-size: 20px;
}

/* .filter-section,
.filters-results,
.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

.filter {
    width: 214px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.results {
    width: 237px;
    height: 37px;
    border-left: 4px solid #9F9F9F;

    flex-direction: row;
    align-items: center;
    text-align: right;

    /* text-align: right; */
    justify-content: end;
}

.results-text {
    font-size: 16px;
}

.sorting {
    flex-direction: row;
    align-items: center;
    width: 443px;
    justify-content: space-evenly;
}

.sorting-input-first {
    background-color: #FFFFFF;
    width: 55px;
    height: 55px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 20px;
}

.sorting-input-second {
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #fff;
    width: 188px;
    height: 55px;
    padding-left: 30px;
}




/* КАРТОЧКА ДЛЯ КАТАЛОГА */
.catalog-item {
    width: 285px;
    height: 446px;
    flex-direction: column;
    /* display: block; */
    position: relative;
}

.catalog-item-img {
    width: 285px;
    height: 301px;
}

.catalog-item-info {
    width: 285px;
    height: 145px;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    align-content: space-evenly;
    /* justify-content: space-evenly; */
    padding-left: 15px;
    background-color: #F4F5F7;
    position: relative;
}

.catalog-item-title {
    font-size: 24px;
    font-weight: 600;
    margin-top: -10px;
}

.catalog-item-descr {
    font-size: 16px;
    color: #898989;
    margin-top: 15px;
}

.catalog-item-cost {
    width: 285px;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.catalog-item-cost-current {
    font-size: 20px;
    color: #3a3a3a;
    font-weight: 600;
}

.catalog-item-cost-past {
    font-size: 16px;
    color: #B0B0B0;
    text-decoration: line-through;
    margin-left: 15px;
}

.catalog-item-discount {
    width: 48px;
    height: 48px;
    position: absolute;
    margin-left: 213px;
    margin-top: 24px;
}

.catalog-item-discount-hid {
    width: 48px;
    height: 48px;
    position: absolute;
    margin-left: 213px;
    margin-top: 24px;
    display: none;
}

.catalog-item-cost-past-hid {
    font-size: 16px;
    color: #B0B0B0;
    text-decoration: line-through;
    margin-left: 15px;
    display: none;
    /* opacity: 0; */
}

.catalog {
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    height: 100%;

    max-width: 1450px;
}

.catalog-item-hover-panel {
    /* opacity: 80%; */
    /* background-color: #3A3A3A; */
    background-color: rgba(58, 58, 58, 0.75);
    width: 285px;
    height: 446px;
    position: absolute;
    justify-content: center;

    display: none !important;
}

/* .catalog-item-hover-panel:hover {
    display: flex;
} */

/* .catalog-item:hover,
.catalog-item-hover-panel {
    display: flex !important;
} */

.catalog-item-panel-btn {
    width: 202px;
    height: 48px;
    background-color: white;
    color: #B88E2F;
    font-weight: 600;
    font-size: 16px;
    border: none;
    /* margin-top: 173px; */
    margin-top: 170px;
    margin-left: 42px;
    opacity: 100%;
    text-align: center;
    padding-top: 5px;
}

.panel-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
}

.panel-item-text {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.panel-items-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}


a:hover {
    text-decoration: underline;
}
/* hover */


.catalog-nextpages {
    padding-top: 70px;
    /* margin-top: 500px; */
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    width: 392px;
    height: 90px;
}

.nextpage {
    padding: 20px;
    width: 60px;
    height: 60px;
    background-color: #F9F1E7;
    color: black;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: none;
}

.nextpage-next {
    padding: 20px;
    width: 98px;
    height: 60px;
    background-color: #F9F1E7;
    color: black;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
}

.nextpage-a {
    text-decoration: none;
}

/* .nextpage-a:hover { 
} */

.nextpage:hover,
.nextpage-next:hover {
    cursor: pointer;
    background-color: #B88E2F;
    color: white;
    /* transform: 0.2s; */
    text-decoration: underline;
}





.quality-section {
    margin-top: 110px;
    height: 270px;
    background-color: #FAF3EA;

    align-items: center;
    justify-content: center;
}

.warrantys {
    width: 1334px;
    height: 70px;
    flex-direction: row;
    justify-content: space-evenly;

    align-items: center;
    padding-top: 135px;
}

.quality {
    width: 337px;
    height: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.trophy-img {
    width: 60px;
    height: 60px;
}

.trophy-box {
    width: 267px;
    height: 70px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    /* align-content: space-evenly; */
}

.trophy-title {
    font-size: 25px;
}

.trophy-descr {
    font-size: 20px;
    color: #898989;
}


.warranty {
    width: 340px;
}

.shipping {
    width: 250px;
}

.support {
    width: 259px;
}

/* 
.warranty {
    width: 328px;
    height: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.shipping {
    width: 244px;
    height: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.support {
    width: 259px;
    height: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */




.footer  {
    width: 1240px;
    height: 505px;
}

.footer-wrapper {
    flex-direction: row;
    margin-top: 60px;
}

.footer-logo {
    font-weight: bold;
    font-size: 24px;
}

.footer-item1 {
    color: #9F9F9F;
    font-size: 16px;
}

.footer-nav {
    color: #9F9F9F;
    font-size: 16px;
}

.footer-items2 {
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.footer-colone1,
.footer-colone2,
.footer-colone3,
.footer-colone4 {
    flex-direction: column;
    height: 312px;
    /* align-content: space-evenly; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    align-content: space-evenly;
    margin: auto;
    /* text-align: center; */
}

/* .footer-items2:not(:first-child) {
    margin: 30px;
} */

.footer-items2 {
    margin: 25px;
    text-align: left;
}

.footer-nav {
    margin-left: 24px;
}

.footer-nav-last {
    margin-top: -7px;
    color: #9F9F9F;
    font-size: 16px;
} 

.footer-item1 {
    margin-top: 50px;
}

.footer-colone2-items {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 200px;
}


.footer-input {
    margin-top: 50px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 14px;
    /* color: #9F9F9F; */
    /* width: 173px; */
    width: 190px;
}

.footer-form {
    display: flex;
    flex-direction: row;
}

.footer-colone4 {
    width: 300px;
}

.footer-btn {
    margin-top: 50px;
    margin-left: 10px;
    width: 75px;
    height: 21px;
    border: none;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;
    background-color: white;
    border-bottom: 2px solid black;
    cursor: pointer;
}



.last-line-box {
    border-top: 1px solid #D9D9D9;
    /* height: 59px; */
    height: 110px;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 25px;
    padding-top: 50px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

.last-line {
    margin-left: 25px;
}

/* input::placeholder::before {

} */

input::placeholder::after {
    font-size: 18px;
    color: black;
    padding-left: 10px;
}

