*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: black;
}

.flex {
    display: flex;
}

body {
    display: flex;
    justify-content: center;
}


/* .wrapper {
    width: 1440px;
}

.section {
    width: 1440px;
} */



.header {
    /* width: 1440px; */
    height: 100px;
    align-items: center;
}

.header-div {
    flex-direction: row;
    /* width: 1286px; */
    width: 1440px;
    height: 41px;
    align-items: center;
    justify-content: space-around;
}

.logo {
    flex-direction: row;
    justify-content: space-around;
    width: 185px;
    font-size: 34px;
    font-weight: 700;
    /* font-family: 'Montserrat, sans-serif'; */
    /* margin-left: -100px; */
}

.logo-img {
    width: 50px;
    height: 32px;
    margin-top: 1px;
}

.header-nav {
    flex-direction: row;
    width: 430px;
    justify-content: space-between; /* no free space around */
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

.header-nav-item {
    text-decoration: none;
}

.page-tools {
    flex-direction: row;
    width: 247px;
    align-items: center;
    justify-content: space-around;
}

.tools-item,
.tools-img {
    width: 28px;
    height: 28px;
}




.onpage-section {
    background-color: #F9F1E7;
    height: 100px;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    justify-content: left;
}

.onpage-nav-way,
.onpage-nav-point,
.onpage-product {
    font-size: 16px;
    text-decoration: none;
}

.onpage-nav-way {
    font-size: 16px;
    color: #9F9F9F;
}

.onpage-nav-point {
    font-size: 24px;
}

.onpage-box {
    /* width: 355px; */
    width: 400px;
    height: 37px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    /* margin-left: 130px; */
    margin-left: 108px;
}

.onpage-nav {
    width: 213px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.onpage-product {
    align-items: center;
    height: 37px;
    text-align: center;
    /* width: 142px; */
    width: 165px;
    border-left: 2px solid #9F9F9F;
}

.onpage-product-title {
    padding-top: 10px;
    font-weight: 500;
}





/* ВИНТРИНА ПРОДУКТА */
.product-display {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 30px;
}

.product-display-upbox {
    /* width: 1241.01px; */
    width: 1300px;
    /* width: 1440px; */
    height: 500px;
    flex-direction: row;

    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
}

.product-photos {
    margin-left: 65px;
}

/* .product-mainphoto {
    margin-left: 300px;
} */

.prod-inf {
    margin-left: 85px;
}

.product-info {
    margin-left: 100px;
}

/* .product-info {
    margin-left: 30px;
} */

.product-photos {
    flex-direction: column;
    height: 416px;
    width: 76px;
}

.product-photo-item:not(:first-child) {
    margin-top: 32px;
}

.product-mainphoto {
    width: 423px;
    height: 500px;
    background-color: #F9F1E7;

    /* position: relative; */
    border-radius: 10px;
    margin-left: -50px;
}

.product-mainphoto-img {
    /* width: 428px; */
    width: 100%;
    margin-top: 96px;
    /* height: auto; */
    /* object-fit: contain; */
}

.product-info {
    width: 606.01px;
    margin-top: -18px;
    /* margin-left: 82px; */
    /* justify-content: space-between; */
}


.product-info-title {
    font-weight: 400;
    font-size: 40px;
}

.product-info-cost {
    color: #9F9F9F;
    font-weight: 500;
    font-size: 24px;
    margin-top: -17px;
}

.product-rating-img {
    width: 124px;
    height: 20px;
}

.product-ratingbox,
.product-rate,
.product-rate-2 {
    flex-direction: row;
    align-items: center;
    height: 30px;
}

.product-rate {
    width: 142px;
}

.product-rating-amount {
    width: 125px;
    font-size: 13px;
    color: #9F9F9F;
}

.product-rate-2 {
    align-items: center;
    justify-content: right;
    width: 147px;
    border-left: 2px solid #cdcdcd;
}

.product-ratingbox {
    margin-top: 12px;
}

.product-photo-item:hover {
    border: 2px solid orange;
    border-radius: 10px;
}

.product-info-descr {
    margin-top: 16px;
    width: 424px;
    height: 80px;
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
}

.product-info-option-size,
.product-info-option-color {
    color: #9F9F9F;
    font-size: 14px;
}

.product-info-option-size {
    margin-top: 25px;
}

.product-size {
    margin-top: 30px;
}

.product-size-option {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #F9F1E7;
    color: black;
    /* margin-top: 15px; */
    text-align: center;
}

.size-option-item {
    margin-top: 8px;
    font-size: 13px;
}

.product-size-option:hover {
    background-color: #B88E2F;
    color: white;
}

.product-size-option:not(:first-child) {
    margin-left: 16px;
}




.product-size {
    flex-direction: row;
    margin-top: 12px;
}

.product-cartbox {
    flex-direction: row;
}

a:hover {
    text-decoration: underline;
}

.product-info-option-color {
    margin-top: 18px;
}

.product-size {
    margin-top: 12px;
}

.product-size-item:not(:first-child) {
    margin-left: 16px;
}

/* .product-size-item:hover {
    border: 1px solid orange;
    border-radius: 60px;
} */

.product-cartbox {
    max-width: 606px;
    margin-top: 30px;
}

.product-cart-count {
    width: 123px;
    height: 64px;
    border: 1px solid black;
    border-radius: 10px;

    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.product-cart-count:hover,
.product-cart-addncomp:hover {
    border: 2px solid #9F9F9F;
}


.product-cartbox-count-btn {
    padding-top: 23px;
}

.product-cartbox-less,
.product-cartbox-more,
.product-cartbox-count-btn {
    height: 60px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.product-cart-addncomp {
    width: 215px;
    height: 64px;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}

.cartbox-item-1 {
    margin-left: 18px;
}

.cartbox-item-2 {
    margin-left: 10px;
}





.product-display-downbox {
    /* margin-top: 59px; */
    margin-top: 40px;
    width: 1440px;
    justify-content: flex-end;
}

.product-display-moreinfo {
    /* width: 706px; */
    width: 670px;
    height: 228px;
    /* border-top: 1px solid #D9D9D9; */
    flex-direction: column;
    /* align-items: center; */
    /* margin-top: 50px; */
    border-top: 1px solid #D9D9D9;
    margin-left: 300px;
}

.moreinfo-object {
    /* flex-direction: flex; */
    margin-top: 10px;
}

.product-display-box {
    /* flex-direction: row; */
    /* align-items: center; */
    margin-top: 40px;
    /* border-top: 1px solid #D9D9D9; */
}

.moreinfo-column1,
.moreinfo-column2,
.moreinfo-column-dots {
    color: #9F9F9F;
    font-size: 16px;
    height: 24px;
}

.moreinfo-column1 {
    width: 75px;
}
    

.moreinfo-column2 {
    margin-left: 15px;
    width: 200px;
}

.moreinfo-column-dots {
    color: #9F9F9F;
    margin-left: 15px;
}


.moreinfo-icons-item {
    width: 20px;
    height: 20px;
}

.moreinfo-icons {
    width: 110px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}






/* product-description СЕКЦИЯ ИНФОРМАЦИИ*/

.product-description-section {
    border-top: 1px solid #D9D9D9;
    /* justify-content: center; */
    /* align-items: center; */
    height: 744px;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
}

.description-titles-box {
    margin-top: 48px;
    width: 649px;
    font-size: 24px;
    color: #9F9F9F;
    flex-direction: row;
    justify-content: space-between;
}

.description-titles-box-item:active {
    color: black;
    /* text-decoration: underline; */
    text-decoration: none;
    font-weight: 500;
}

.description-titles-box-item {
    text-decoration: none;
    color: #9F9F9F;
    font-weight: 400;
}

/* .product-description-section {
    justify-content: center;
} */


.description-text-1,
.description-text-2 {
    font-size: 16px;
    color: #9F9F9F;
    width: 1026px;
    line-height: 25px;
}

.description-pictures-box {
    flex-direction: row;
    width: 1239px;
    justify-content: space-between;
}

.description-picture-item {
    width: 605px;
    height: 348px;
}

.description-text-1 {
    margin-top: 37px;
}

.description-text-2 {
    margin-top: 30px;
}

.description-pictures-box {
    margin-top: 36px;
}








.product-description-section {
    border-bottom: 1px solid #D9D9D9;
    /* height: 900px; */
    /* justify-content: center; */
    /* align-items: start;
    flex-direction: column; */
}


/* СЕКЦИЯ С ПРОДУКЦИЕЙ */

.related-products-section {
    margin-top: 56px;
    flex-direction: column;
    align-items: center;

    /* height: 800px; */
}

.related-products-title {
    font-size: 36px;
    color: black;
    font-weight: 500;
}

/* .catalog {
    margin-top: 300px;
} */

/* .related-products-section { */
    /* margin-top: -20px; */
    /* border-top: 1px solid #D9D9D9; */
/* } */

.catalog-item {
    width: 285px;
    height: 446px;
    flex-direction: column;
    /* display: block; */
    position: relative;
}

.catalog-item-img {
    width: 285px;
    height: 301px;
}

.catalog-item-info {
    width: 285px;
    height: 145px;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    align-content: space-evenly;
    /* justify-content: space-evenly; */
    padding-left: 15px;
    background-color: #F4F5F7;
    position: relative;
}

.catalog-item-title {
    font-size: 24px;
    font-weight: 600;
    margin-top: -10px;
}

.catalog-item-descr {
    font-size: 16px;
    color: #898989;
    margin-top: 15px;
}

.catalog-item-cost {
    width: 285px;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.catalog-item-cost-current {
    font-size: 20px;
    color: #3a3a3a;
    font-weight: 600;
}

.catalog-item-cost-past {
    font-size: 16px;
    color: #B0B0B0;
    text-decoration: line-through;
    margin-left: 15px;
}

.catalog-item-discount {
    width: 48px;
    height: 48px;
    position: absolute;
    margin-left: 213px;
    margin-top: 24px;
}

.catalog-item-discount-hid {
    width: 48px;
    height: 48px;
    position: absolute;
    margin-left: 213px;
    margin-top: 24px;
    display: none;
}

.catalog-item-cost-past-hid {
    font-size: 16px;
    color: #B0B0B0;
    text-decoration: line-through;
    margin-left: 15px;
    display: none;
    /* opacity: 0; */
}

.catalog {
    margin-top: 29px;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    height: 100%;
    /* max-height: 600px; */
    /* max-width: 1450px; */
    width: 1440px;
}

.catalog-item-hover-panel {
    /* opacity: 80%; */
    /* background-color: #3A3A3A; */
    background-color: rgba(58, 58, 58, 0.75);
    width: 285px;
    height: 446px;
    position: absolute;
    justify-content: center;

    display: none !important;
}

/* .catalog-item-hover-panel:hover {
    display: flex;
} */

/* .catalog-item:hover,
.catalog-item-hover-panel {
    display: flex !important;
} */

.catalog-item-panel-btn {
    width: 202px;
    height: 48px;
    background-color: white;
    color: #B88E2F;
    font-weight: 600;
    font-size: 16px;
    border: none;
    /* margin-top: 173px; */
    margin-top: 170px;
    margin-left: 42px;
    opacity: 100%;
    text-align: center;
    padding-top: 5px;
}

.panel-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
}

.panel-item-text {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.panel-items-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}


.related-products-btn {
    margin-top: 44px;
    padding-top: 2px;

    width: 245px;
    height: 48px;
    border: 1px solid #B88E2F;
    border-radius: 1px;
    font-size: 16px;
    color: #B88E2F;
    font-weight: 500;
    background-color: white;
}

.related-products-btn:hover {
    background-color: #B88E2F;
    color: white;
    cursor: pointer;
}








/* .related-products-section { */
    /* height: 800px; */
    /* border-bottom: 1px solid #D9D9D9; */
/* } */

/* футер */

.footer  {
    width: 1240px;
    height: 505px;
    /* border: 5px solid #D9D9D9; */

    /* margin-top: 20px; */
    /* padding-top: 200px; */
}

.footer-wrapper {
    border-top: 1px solid #d9d9d9;
    /* margin-top: 200px; */
    padding-top: 50px;
}

.footer-wrapper {
    flex-direction: row;
    margin-top: 60px;
}

.footer-logo {
    font-weight: bold;
    font-size: 24px;
}

.footer-item1 {
    color: #9F9F9F;
    font-size: 16px;
}

.footer-nav {
    color: #9F9F9F;
    font-size: 16px;
}

.footer-items2 {
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.footer-colone1,
.footer-colone2,
.footer-colone3,
.footer-colone4 {
    flex-direction: column;
    height: 312px;
    /* align-content: space-evenly; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    align-content: space-evenly;
    margin: auto;
    /* text-align: center; */
}

/* .footer-items2:not(:first-child) {
    margin: 30px;
} */

.footer-items2 {
    margin: 25px;
    text-align: left;
}

.footer-nav {
    margin-left: 24px;
}

.footer-nav-last {
    margin-top: -7px;
    color: #9F9F9F;
    font-size: 16px;
} 

.footer-item1 {
    margin-top: 50px;
}

.footer-colone2-items {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 200px;
}


.footer-input {
    margin-top: 50px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 14px;
    /* color: #9F9F9F; */
    /* width: 173px; */
    width: 190px;
}

.footer-form {
    display: flex;
    flex-direction: row;
}

.footer-colone4 {
    width: 300px;
}

.footer-btn {
    margin-top: 50px;
    margin-left: 10px;
    width: 75px;
    height: 21px;
    border: none;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;
    background-color: white;
    border-bottom: 2px solid black;
    cursor: pointer;
}



.last-line-box {
    border-top: 1px solid #D9D9D9;
    /* height: 59px; */
    height: 110px;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 25px;
    padding-top: 50px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

.last-line {
    margin-left: 25px;
}

/* input::placeholder::before {

} */

input::placeholder::after {
    font-size: 18px;
    color: black;
    padding-left: 10px;
}





